.cabecalho {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
}

.titulo {
    text-decoration: none;
    color: #101b46;
    font-size: 42px;
    margin: 8px;
    padding: 8px;
}

.menu{
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
    list-style-type: none;
}

li{
    margin: 10px;
    font-size: 22px;
    color: #101b46;
}

.links{
    text-decoration: none;
    color: #101b46;
}

@media (max-width: 999px) {

.titulo{
    font-size: 28px;
}

}
